.table-wrapper
  position: relative
  height: 100%
  width: 100%

.table-wrapper table
  width: 100%

.grid-container
  position: relative
  width: 100%

.slider
  position: absolute
  padding: 10px 5px 5px 10px
  top: 0px
  right: 0px
  min-width: 800px
  background-color: #aaa
  height: 100%
  float: right
  overflow: auto
  clear: left

.card-scroll-content
  overflow-y: scroll
  height: 400px
